.footer_wrapper, .footer-widgets_wrapper {
  background-color: var(--combustion);
  color: white;
}

.site-footer {
  > .site-info{
    border-top: none !important;
  }
}

.footer-navigation-wrapper {
  justify-content: start !important;
}