.paypal-donate {
  background: gold;
  border-radius: 1.5rem;
  border: 1px solid lightgoldenrodyellow;
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  margin: calc(var(--global--spacing-vertical) / 2) 0;
  color: black;
  z-index: 1;
}

.paypal-donate:hover {
  background: lightgoldenrodyellow;
  border: 1px solid gold;
}

//goldenrodyellow 	

#primary-mobile-menu {
  background-color: white !important;
  @media (prefers-color-scheme: dark) {
    background-color: black !important;
  }
}
