.paypal-donate {
  background: gold;
  border-radius: 1.5rem;
  border: 1px solid lightgoldenrodyellow;
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  margin: calc(var(--global--spacing-vertical) / 2) 0;
  color: black;
  z-index: 1;
}

.paypal-donate:hover {
  background: lightgoldenrodyellow;
  border: 1px solid gold;
}

// this is a real mess

.primary-navigation a {
  @media (min-width: 411px) {
    color: white !important;
  }
}

@media (max-width: 411px) {

  #primary-mobile-menu {
    color: black !important;
    background-color: white !important;

    @media (prefers-color-scheme: dark) {
      color: white !important;
      background-color: black !important;
    }
  }

  .is-dark-theme {
    #primary-mobile-menu {
      color: black !important;
      background-color: white !important;
    }

    .primary-menu-container {
      a {
        color: white !important;
        background-color: black !important;
      }
    }
  }

  .is-light-theme {
    #primary-mobile-menu {
      color: white !important;
      background-color: black !important;
    }

    .primary-menu-container {
      a {
        color: black !important;
        background-color: white !important;
      }
    }
  }
}