
:root {
	--combustion: hsl(0, 62%, 52%); // #d03939
	--navy: hsl(215, 46%, 38%); // #34598d
	--sand: hsl(30, 20%, 92%); // #efebe7
	--midnight: hsl(228, 64%, 8%); // #070d21

	--footer--color-link: white !important; // needs the imprtant. with variables its hard to track
	--branding--logo--max-width-mobile: 12rem !important;

	--global--font-primary: serif !important;
}
