
:root {
	--combustion: hsl(0, 62%, 52%);
	--navy: hsl(215, 46%, 38%);
	--sand: hsl(30, 20%, 92%);
	--midnight: hsl(228, 64%, 8%);

	--footer--color-link: white !important; // needs the imprtant. with variables its hard to track
}
